.navbar_container {
  width: 100%;
  background-color: #1a1a1a;
  padding: 10px 20px;
  position: fixed;
  z-index: 100;
}

.navbar_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.navbar_logo {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.logo-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  color: #fff;
}

.navbar_actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar_greeting {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
}

.avatar-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.navbar_avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid;
  object-fit: cover;
  cursor: pointer;
  transition: opacity 0.2s;
}

.navbar_avatar:hover {
  opacity: 0.8;
}

.remove-avatar-button {
  margin-left: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  margin-right: 10px;
}

.remove-avatar-button:hover {
  background-color: #e0e0e0;
}

.remove-avatar-icon {
  width: 16px;
  height: 16px;
  color: #333;
}

.logout-button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 6px 12px;
  font-size: 14px;
  color: #333;
  border-radius: 6px;
}

.logout-button:hover {
  background-color: #e0e0e0;
}

.logout-icon {
  width: 20px;
  height: 20px;
}

.logout-text {
  display: none;
}

@media (min-width: 640px) {
  .logout-text {
    display: inline;
  }
}

@media (max-width: 640px) {
  .navbar_avatar {
    width: 28px;
    height: 28px;
  }
  .remove-avatar-button {
    width: 18px;
    height: 18px;
  }
  .remove-avatar-icon {
    width: 14px;
    height: 14px;
  }
}

@media (max-width: 440px) {
  .navbar_logo_text {
    font-size: 11px;
  }

  .navbar_greeting_text {
    font-size: 11px;
    white-space: nowrap;
    margin-left: 6px;
  }
  .remove-avatar-button {
    margin-right: 0px;
  }
  
}